<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="../../../public/webix.trial.complete/webix/codebase/webix.css" type="text/css" charset="utf-8">
    <script src="../../../public/webix.trial.complete/webix/codebase/webix.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script type="text/javascript" src="main.js"></script> -->
    <script type="text/javascript" src="../../../public/js/login/view.js"></script>
    <script type="text/javascript" src="../../../public/js/login/EventManager.js"></script>
    <script type="text/javascript" src="../../../public/js/login/component.js"></script>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>
<body>
<img src="../../../public/img/logo.png">

</body>
</html>