<!DOCTYPE html>
<html>
   <head>
      
	  <meta charset="utf-8">
	 	<title>Учёт кандидатов</title>
	  <link rel="stylesheet" href="../../../public/webix.trial.complete/webix/codebase/webix.css" type="text/css" charset="utf-8">
        <script src="../../../public/webix.trial.complete/webix/codebase/webix.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script type="text/javascript" src="main.js"></script> -->
	   <script src= "../../../public/js/workers/bundle.js"></script>
		<link rel="stylesheet" href="../../../public/css/style.css">
   </head>
   <body>
		  <div id="leftPart"></div>	   
   </body>
   
</html>